//unidades de medida
$size1: 10px;
$size2: 16px;
$size3: 47px;
$size4: 64px;
$size5: 100px;

//colores
$color0: #000000;
$color1: #bc0056;
$color2: #f6b006;
$color3: #606060;
$color4: #e0e0e0;
$color5: #ffffff;

//familia tipografica
$font: "Red Hat Display", sans-serif;

//pesos tipograficos
$weight1: 900;
$weight2: 700;
$weight3: 500;